[submodule "buildroot"]
	path = buildroot
	url = https://github.com/rudupa/buildroot.git
[submodule "buildroot-external-microchip"]
	path = buildroot-external-microchip
	url = https://github.com/rudupa/buildroot-external-microchip.git
